annotated-types==0.7.0
anyio==4.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
distro==1.9.0
exceptiongroup==1.2.2
griffe==1.7.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
jiter==0.9.0
openai==1.70.0
openai-agents @ git+https://github.com/openai/openai-agents-python.git@064e25b01b5c82c08aea66ff898ff27adbb013d8
pydantic==2.11.2
pydantic_core==2.33.1
requests==2.32.3
sniffio==1.3.1
tqdm==4.67.1
types-requests==2.32.0.20250328
typing-inspection==0.4.0
typing_extensions==4.13.1
urllib3==2.3.0
